
<!DOCTYPE HTML>
<html>

<head>
  <title>acss_base</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">ACSS<span class="logo_colour"></span></a></h1>
          <h2>Administrative Computerization Support Services</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="index.html">Home</a></li>
          <li><a href="/templates/blog/suggestion.html">Suggestion</a></li>
          <li><a href="page.html">A Page</a></li>
          <li><a href="another_page.html">Another Page</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header">
        <p> Hello,  {{ user.username }}
        <p> <a href="/../../templates/registration/logout.html">Logout</a></p>
    </div>
    <div id="site_content">


      <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Categories</h3>
            <ul>
              <li><a href="#">Guest House</a></li>
              
            </ul>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Sub-Menu</h3>
            <ul>
              <li><a href="/templates/blog/index.html">Home</a></li>
              <li><a href="/templates/blog/booking.html">Booking</a></li>
              {% for group in user.groups.all %}
                {% if group.name == 'admin' %}
              <li><a href="/templates/blog/confirmed.html">Confirmed Bookings</a></li>
              <li><a href="/templates/blog/status.html">Status Check</a></li>
              <li><a href="/templates/blog/conf_arrived.html">Arrivals</a></li>
              <li><a href="/admin/blog/pend/">Edit Booking Data</a></li>
              
                {% endif %}
              {% endfor %}
              <li><a href="#">Terms and Conditions</a></li>
            </ul>
          </div>
          <div class="sidebar_base"></div>
        </div>
      </div>
        <div class="main-content">
          <h1>Pending Requests</h1>
            <table style="width:100%">
                    <tr>
                      <th>Booking ID</th>
                      <th>Guest Name</th> 
                      <th>Guest House Type</th>
                      <th>Booking time/date</th>
                      <th>Department</th>
                      <th>Number of Rooms</th>
                      <th>Status</th>
                      {% for group in user.groups.all %}
                        {% if group.name == 'admin' %}
                      <th>View/Edit Details</th>
                        {% endif %}
                      {% endfor %}
                    </tr>
                  {% for post in posts %}
                    <tr>
                      <td>{{ post.id }}</td>
                      <td>{{ post.gname }}</td> 
                      <td>{{ post.bookin }}</td>
                      <td>{{ post.booking_date }}</td>
                      <td>{{ post.dept }}</td>
                      <td>{{ post.roomsno }}</td>
                      <td>{{ post.status }}</td>
                      {% for group in user.groups.all %}
                        {% if group.name == 'admin' %}
                      <td> <a href = "/admin/blog/pend/{{ post.id }}"> Click Here </a> </td>
                    </tr>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
        </table>
       

        </div>
    </div>
       
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p><a href="index.html">Home</a> | <a href="examples.html">Examples</a> | <a href="page.html">A Page</a> | <a href="another_page.html">Another Page</a> | <a href="contact.html">Contact Us</a></p>
      <p>ACSS | Administrative Computerization Support Services </p>
    </div>
  </div>
</body>
</html>
